# =====================================================================
# DomD guest configuration
# =====================================================================

seclabel='system_u:system_r:domU_t'

# Uncomment the next two lines to pass PCI device to DomU

# Guest name
name = "DomU"

# Kernel image to boot
kernel = "/usr/lib/xen/boot/linux-domu"

device_tree = "/usr/lib/xen/boot/domu.dtb"

extra = "root=/dev/xvda1 rw rootwait console=hvc0 pci=pcie_bus_perf clk_ignore_unused ignore_loglvl cma=640M@1-3G pvrsrvkm.DriverMode=1"
#
# Initial memory allocation (MB)
memory = 3072

# Number of VCPUS
vcpus = 2

# Uncomment this lines and add "/pmu_a76" node to
# dt_passthrough_nodes to enable PMU feature. 
# NOTE: this feature is not security supported:
# see https://xenbits.xen.org/xsa/advisory-163.html.
# It's not recommended to use it for production builds
# but it may be used for development or debugging.
cpus = ["2", "3"]
# vpmu = 1

on_crash = 'preserve'

#enable Xen rproc service (vdev number)
#disabled tmp
rproc=0

dt_compatible = [ "renesas,whitehawk-cpu", "renesas,r8a779g0" ]

dt_passthrough_nodes = [
    "/reserved-memory",
    "/rvgc",
    "/cmem",
]

dtdev = [
#    "/soc/vsp@fea20000",
#    "/soc/vsp@fea28000",
    "/soc/video@e6ef0000",
    "/soc/video@e6ef1000",
    "/soc/video@e6ef2000",
    "/soc/video@e6ef3000",
    "/soc/video@e6ef8000",
    "/soc/video@e6ef9000",
    "/soc/video@e6efa000",
    "/soc/video@e6efb000",
    "/soc/pcie@e65d0000",
    "/soc/cisp@fec00000",
    "/soc/cisp@fee00000",
    "/soc/gsx_osid1_domu",
    "/soc/vspx@fedd0000",
    "/soc/vspx@fedd8000",
    "/soc/fcpvs@fedb0000",
    "/soc/fcpvs@fedb8000",
]

irqs = [
# video@e6ef0000
    561,
# video@e6ef1000
    562,
# video@e6ef2000
    563,
# video@e6ef3000
    564,
# video@e6ef8000
    569,
# video@e6ef9000
    570,
# video@e6efa000
    571,
# video@e6efb000
    572,
# csi2@fe500000
    531,
# csi2@fe540000
    532,
# isp@fed00000
    505,
# isp@fed20000
    506,
#cisp0@fec00000
    507,
#cisp1@fee00000
    508,
# i2c@e6508000
    643,
# i2c@e6500000
    642,
# du0
#    555,
# vsp@fea20000
#    578,
# vsp@fea28000
#    583,
# pcie@e65d0000
    481, 482, 483, 484, 485, 486, 487,
# gsx@fd000000
    497,
# vspx@fedd0000
    588,
# vspx@fedd8000
    589,
]

iomem = [
#video@e6ef0000
    "e6ef0,1",
#video@e6ef1000
    "e6ef1,1",
#video@e6ef2000
    "e6ef2,1",
#video@e6ef3000
    "e6ef3,1",
#video@e6ef8000
    "e6ef8,1",
#video@e6ef9000
    "e6ef9,1",
#video@e6efa000
    "e6efa,1",
#video@e6efb000
    "e6efb,1",
#csi2@fe500000
    "fe500,40",
#csi2@fe540000
    "fe540,40",
#isp@fed00000
    "fed00,10",
#isp@fed20000
    "fed20,10",
#cisp0@fec00000
    "fec00,100",
#cisp1@fee00000
    "fee00,100",
#i2c@e6508000
    "e6508,1",
#i2c@e6500000
    "e6500,1",
#du0
#    "feb00,40",
#dsi0
#    "fed80,10",
#vsp@fea20000
#    "fea20,8",
#vsp@fea28000
#    "fea28,8",
#pcie@e65d0000
    #"e65d0,3", vpci dbi
#pcie@e65d0000
    "e65d3,2",
#pcie@e65d0000
    "e65d5,2",
#pcie@e65d0000
    "e65d6,1",
#pcie@e65d0000
    "e65d7,1",
#pcie@e65d0000
    #"fe000,400", vpci config
#pcie bar
    "30000,8000",
#chipid@fff00044                               
    "fff00,1",   
    "e60a0,1",
#gsx@fd000000
    "0xfd010,10@0xfd000",
#linux,rvgc_region@b0000000
    "B0000,10000,arm_mem_WB",
#vspx@fedd0000
    "fedd0,8",
#vspx@fedd8000
    "fedd8,8",
#fcpvs@fedb0000
    "fedb0,8",
#fcpvs@fedb8000
    "fedb8,8",
]
# =====================================================================
# DomU virtual devices
# =====================================================================

# See additional comment above line 'extra = ' in machine dependent config.
# In case boot from network - comment out 'disk' AND use line with 'root=/dev/nfs' in machine dependent config.
# In case boot from block device - uncomment 'disk' AND use line with 'root=/dev/xvda1' (or 'root=/dev/vda') in machine dependent config.
disk = [ 'backend=DomD, phy:/dev/STORAGE_PART3, xvda1' ]
vgsx = [ 'backend=DomD, osid=1' ]

# We use predefined MAC addresses for domains:
#  08:00:27:ff:cb:cd - domF
#  08:00:27:ff:cb:ce - domA
#  08:00:27:ff:cb:cf - domU
vif = [ 'backend=DomD, bridge=xenbr0, mac=08:00:27:ff:cb:cf, ip=192.168.0.2' ]

#renesas_vmq = [ 'backend=DomD, type=tsn, if_num=1, osid=1' ]

# Uncomment this if you need to create virtual VMQ-based network
# between DomD and DomU
# renesas_vmq = [ 'backend=DomD, type=vmq, if_num=0, osid=1' ]
